<!doctype html>
<title>Hello from Flask</title>

<ul>

{% for book in rjson["items"] %}
	<form action="/album" method="POST">
  	<li>Title:{{ book["volumeInfo"]["title"] }} </li>
  	<li>Authors:{{ book["volumeInfo"]["authors"] }}</li>
  	<li>PublishedDate:{{ book["volumeInfo"]["publishedDate"] }}</li>
  	
  	<input type="hidden" name="title" value="{{ book["volumeInfo"]["title"] }}" />
  	<input type="hidden" name="author" value="{{ book["volumeInfo"]["authors"] }}" />
  	<input type="hidden" name="date" value="{{ book["volumeInfo"]["publishedDate"] }}" />
  	<input type="submit" value="Submit!" />
    </form>
{% endfor %}
</ul>

